<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <ul>
      <% for(var i=0; i < messages.length; i++) { %>
         <li>
            <p id="display"><%= messages[i].text %></p>
            <p id="author"><%= messages[i].user %></p>
            <p id="time"><%= messages[i].added %></p>
         </li>
      <% } %>
    </ul>

    <a href="/new">Enter a new message for the board ...</a>
    <a href="/delete">Delete a message</a>

  </body>
</html>
